###[DataFrame 연산 - 1]
- 일대일 대응으로 인덱스가 동인한 원소들끼리 연산 수행
- Dataframe과 숫자데이터 연산 수행

In [5]:
# [1] 모듈 로딩
import pandas as pd
import numpy as np  # 빈 칸 의미 표현을 위해 사용

In [6]:
# [2] 데이터 준비
data={'A':[98,78,100,52],
      'B':[90,20,40,50]}

In [7]:
# [3] Dict 데이터 ==> DataFrame 형태 저장
DF1=pd.DataFrame(data)
DF1

     A   B
0   98  90
1   78  20
2  100  40
3   52  50

In [8]:
# [4] 연산 수행
# - 산술연산 
DF1 * 3

     A    B
0  294  270
1  234   60
2  300  120
3  156  150

In [9]:
# - 비교연산
DF1 <= 100

      A     B
0  True  True
1  True  True
2  True  True
3  True  True