#### [멀티인덱스]
 -  2개 이상의 행과 열로 구성된 인덱스

In [11]:
# [1] 모듈 로딩
import pandas as pd
import df_util as util

In [12]:
#[2] 데이터 준비
file1='test_data.csv'
file2='test_data2.csv'

In [13]:
#[3] csv ==> DataFrame으로 저장
df1=pd.read_csv(file1)
df2=pd.read_csv(file2)

In [14]:
#[4] 데이터 확인=> 기본정보
util.checkDataFrame(df1,'df1')
util.checkDataFrame(df2,'df2')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[index] : RangeIndex(start=0, stop=10, step=1)
None
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim]] : 2

[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[index] : RangeIndex(start=0, stop=5, step=1)
None
[columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim]] : 2

In [15]:
# [5] 행 인덱스 설절
# [5-1] df1 첫번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1,컬럼2])

df11=df1.set_index(['index'])
df11.index.name=None
df11.index
# #'A' 행 데이터 추출
# df11.loc['A']

Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')

In [16]:
#'C' 행추출
df11.loc[['C']]

   col1  col2  col3
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [17]:
# [5] 행 인덱스 설절
# [5-2] df1 첫번째, 두번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1,컬럼2])

df12=df1.set_index(['index','col2'])
print(df12.index)
df12.loc[('A',8)]

MultiIndex([('A', 6),
            ('C', 4),
            ('C', 2),
            ('A', 8),
            ('B', 0),
            ('B', 2),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 1)],
           names=['index', 'col2'])

col1    1
col3    7
Name: (A, 8), dtype: int64

In [18]:

#('A',8)행 추출
df12.loc[("A", 8 )]

col1    1
col3    7
Name: (A, 8), dtype: int64

In [19]:
# ('A',8),('A',1)행 추출
df12.loc[[('A',8),('A',1)]]

            col1  col3
index col2
A     8        1     7
      1        3     4

In [20]:
# 멀티인덱스의 속성들 확인
midx=df12.index
print(f'nlevels :  {midx.nlevels}')
print(f'levels  :  {midx.levels}')
print(f'names   :  {midx.names}')

midx.set_names('a',level=0)

nlevels :  2
levels  :  [['A', 'B', 'C'], [0, 1, 2, 3, 4, 5, 6, 8]]
names   :  ['index', 'col2']

MultiIndex([('A', 6),
            ('C', 4),
            ('C', 2),
            ('A', 8),
            ('B', 0),
            ('B', 2),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 1)],
           names=['a', 'col2'])

In [21]:
# 멀티인덱스에서 level0이 동일한 행 추출
# -'A' 
df12.loc['A']

      col1  col3
col2
6        8     5
8        1     7
1        3     4

In [22]:
# 멀티인덱스에서 level1이 동일한 행 추출
# -'8' 
#df12.loc[8] #Error
df12.xs(8, level=1)

       col1  col3
index
A         1     7
C         8     6

In [27]:
#멀티인덱스에서 행 추가 
# - 인덱스에 행추가 => 변수명.loc[행인덱스]=값
df12.loc[('D',9), : ]=[9,9]
df12

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0

In [28]:
# df12.loc[('0',10),:]=pd.Series({'col2' :10 ,'col3' :10})
# pd.Series({'col2' :10 ,'col3' :10} , index=['D' ,10])

sr1=pd.Series({'col2' :10 ,'col3' :99})
sr1.index=['D',10]
sr1

D     10
10    99
dtype: int64

In [25]:
df12

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0